
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <!--<li><a href="#/dashboard"> <i class="fa fa-dashboard"></i><span data-i18n="Dashboard"></span> </a></li>-->
        <li data-access-level='accessLevels.users'><a href="#/users"> <i class="fa fa-users"></i><span data-i18n="Users"></span> </a></li>
        <li data-access-level='accessLevels.products'><a href="#/products"> <i class="fa fa-tags"></i><span data-i18n="Products"></span> </a></li>
        <li data-access-level='accessLevels.venueprofile'><a href="#/venueprofile"> <i class="fa fa-map-marker"></i><span data-i18n="Venue Profile"></span> </a></li>
        <li data-access-level='accessLevels.venues'><a href="#/venues"> <i class="fa fa-map-marker"></i><span data-i18n="Venues"></span> </a></li>
        <li data-access-level='accessLevels.venues'><a href="#/orders"> <i class="fa fa-search"></i><span data-i18n="Orders"></span> </a></li>
        <!--<li><a href="#/reports"> <i class="fa fa-dashboard"></i><span data-i18n="Reports"></span> </a></li>-->
    </ul>
</div>
