<div class="page-reset">
    <div class="signin-header">
        <section class="logo text-center">
            <a href="#/">{{main.brand}}</a>
        </section>
    </div>
    <div class="info text-center">
        <h2 class="text-small">{{user.email}} has requested a password reset.</h2>
        <h2 class="text-small">Please enter your new password. It needs to be at least 6 characters long.</h2>
    </div>
    <div class="form-container text-center">
        <form class="form-horizontal col-sm-12" name="resetPasswordForm" novalidate data-ng-submit="user.password == password_confirmation && resetPasswordForm.$valid && update()">           
            <div class="form-group">
                <span class="glyphicon glyphicon-lock"></span>
                <input name="inputPassword"
                       type="password"
                       class="form-control input-lg input-round text-center"
                       placeholder="Password"
                       ng-model="user.password"
                       ng-pattern="/.{6,}/"
                       required>
                <div class="text-danger" ng-show="submitted && (resetPasswordForm.inputPassword.$dirty && resetPasswordForm.inputPassword.$invalid)">
                    <span ng-show="venueForm.inputPassword.$error.required">Password is required.</span>
                    <span>Password must be at least 6 characters.</span>
                </div>
            </div>
            <div class="form-group">
                <span class="glyphicon glyphicon-lock"></span>
                <input type="password"
                       class="form-control input-lg input-round text-center"
                       placeholder="Password Confirmation"
                       ng-model="password_confirmation"
                       ng-pattern="/.{6,}/"
                       required>
                <div class="text-danger" ng-show="submitted">
                    <span ng-show="user.password != password_confirmation">Password does not match password confirmation.</span>
                </div>
            </div>
            <div class="form-group">
                <button href="#/" class="btn btn-lg btn-block btn-primary btn-round" type="submit" ng-click="submitted=true">Update</button>
            </div>
            <div class="form-group">
                <ul class="error-list">
                    <li class="alert alert-danger" data-ng-repeat="error in validation_errors">{{error}}</li>
                </ul>
            </div>
        </form>
    </div>
</div>
