<div class="page page-products">

  <section class="panel panel-default table-dynamic">
    <div class="panel-heading">
      <strong>
        <span class="glyphicon glyphicon-th"></span> Orders</strong>
    </div>
    <div class="table-filters">
      <div class="row">
        <div class="col-sm-3 col-xs-6 filter-result-info">
          <span>
            Showing {{orders.length}}/{{orders.length}} entries
          </span>
        </div>
      </div>
      <table class="table table-bordered table-striped table-responsive">
        <thead>
          <tr>
            <th>
              <div class="th">
                Venue
              </div>
            </th>
            <th>
              <div class="th">
                Price
              </div>
            </th>
            <th>
              <div class="th">
                Quantity
              </div>
            </th>
            <th>
              <div class="th">
                Date
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-repeat="order in orders">
            <td>{{order.venue}}</td>
            <td>{{order.price | currency}}</td>
            <td>{{order.quantity}}</td>
            <td>{{order.created_at | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
